.form_control {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input {
  font-size: 1rem;
  padding: 0.5rem;
  padding-left: 0.7rem;
  outline: none;
  border: none;
  background-color: rgb(240, 240, 240);
  border-radius: 2rem;
}

input:focus {
  background-color: rgb(228, 228, 228);
}

.add_contact_form {
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
}

.delete_btn {
  background-color: rgb(223, 93, 93);
  color: white;
  border-radius: 0.4rem;
  border: none;
  outline: none;
  cursor: pointer;
  max-width: 10rem;
  font-size: 1rem;
  height: 2rem;
}


.delete_btn:focus {
  outline: none;
}
.delete_btn:hover {
  box-shadow: 0px 2px 2px 0px rgba(95, 95, 95, 0.2);
  background-color:  rgb(238, 99, 99);
}
