@import "./cardStyle.css";
@import "./formStyle.css";
@import "./modalStyle.css";

.hidden {
  visibility: hidden;
  opacity: 0;
}

.remove {
  display: none !important;
}
html{
  height: 100vh;
}
body {
  margin: 0%;
  padding: 0%;
  height: 100%;
}

.flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: dodgerblue;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(73, 164, 255);
}

.error {
  color: rgb(247, 96, 58);
}
