@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap");
html {
  margin: 0px !important;
  padding: 0% !important;
  display: flex;
  font-family: "Raleway", sans-serif !important;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgb(62, 159, 159);
  background: -moz-linear-gradient(
    135deg,
    rgba(62, 159, 159, 1) 0%,
    rgba(244, 119, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    135deg,
    rgba(62, 159, 159, 1) 0%,
    rgba(244, 119, 255, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(62, 159, 159, 1) 0%,
    rgba(244, 119, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3e9f9f",endColorstr="#f477ff",GradientType=1);
}

.body_container {
  background-color: aliceblue;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 6px 10px 0px rgba(27, 71, 71, 0.4);
  width: 80vw;
  height: 80vh;
}

.card {
  background-color: #ffffff;
  border-radius: 1rem;
  border: solid rgb(207, 207, 207);
  border-width: 1px;
}

.left_container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.left_upper {
  height: 25%;
}
.left_bottom {
  height: 75%;
  display: flex;
  justify-content: space-evenly;
}
.expenses_container {
  width: 45%;
  height: auto;
  padding: 0.5rem;
  overflow: auto;
}

.income_container {
  width: 45%;
  height: auto;
  overflow: auto;
  padding: 0.5rem;
}

.add_transaction_container {
  width: 31%;
  height: auto;
  overflow: auto;
  padding: 0.6rem;
}

.heading {
  font-weight: 300;
}

.red {
  color: rgb(250, 130, 100);
}

.green {
  color: rgb(116, 214, 71);
}

.bold {
  font-weight: 300;
}

.add_transaction_form {
  font-size: 1.2rem;
  padding:0.3rem;
}

.add_transaction_form>*{
  margin-top: 2rem;
  margin-bottom: 2rem;
}
select {
  padding: 0.5rem;
  font-size: 1.1rem;
}

select.option {
  padding: 0.5rem;
}



button {
  padding: 0.6rem 1.2rem;
  background-color: rgb(145, 22, 175);
  color: white;
  border: none;
  border-radius: 1rem;
  font-size: 1.1rem;
}
button:hover{
  background-color: rgb(166, 29, 201);
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(105, 105, 105, 0.295);
}

.form_item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
input{
  color: rgb(56, 56, 56);
  font-size: 1.1rem;
  border: none;
  border-bottom: solid rgb(137, 10, 168);
  border-width: 1px;
  outline: none;
  padding: 0.2rem;
}

.balance{
  font-size: 2rem;
  font-family: "Raleway", sans-serif !important;
  font-weight: bolder;
}

.transaction_card{
  margin-top: 0.5rem;
  padding: 0.4rem;
  border-radius: 0.2rem !important;
}

.transaction_card:hover{
  background-color:whitesmoke;
}